@import "tailwindcss";

.container {
  width: 100%;
  padding-inline: 1rem;
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
  }
  @media (width >= 88rem /* 1024px */) {
    max-width: 88rem /* 1024px */;
  }
}
